<mat-card class="container">
    <h2>Formulario Superhéroe</h2>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="form-container">
            <form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label for="name">Nombre</mat-label>
                    <input matInput id="name" formControlName="name" upperCase />
                    <mat-error
                        *ngIf="formValues['name'].invalid && (formValues['name'].dirty || formValues['name'].touched)">
                        <span *ngIf="formValues['name'].errors?.['required']">Requerido</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label for="description">Descripción</mat-label>
                    <textarea matInput id="description" formControlName="description" rows="2"></textarea>
                    <mat-error
                        *ngIf="formValues['description'].invalid && (formValues['description'].dirty || formValues['description'].touched)">
                        <span *ngIf="formValues['description'].errors?.['required']">Requerido</span>
                    </mat-error>
                </mat-form-field>
                <div class="flex-container">
                    <button mat-raised-button color="warn" type="reset" (click)="onCancel()">
                        <mat-icon>close</mat-icon> Cancelar
                    </button>
                    <button mat-raised-button color="primary" type="submit" [disabled]="heroForm.invalid">
                        <mat-icon>save</mat-icon> Guardar
                    </button>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>